@font-face {
	font-family: AzoSans;
	font-display: swap;
	src: url("../fonts/AzoSans-Light.woff2") format("woff2"), url("../fonts/AzoSans-Light.woff") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: AzoSans;
	font-display: swap;
	src: url("../fonts/AzoSans-Bold.woff2") format("woff2"), url("../fonts/AzoSans-Bold.woff") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: AzoSans;
	font-display: swap;
	src: url("../fonts/AzoSans-Medium.woff2") format("woff2"), url("../fonts/AzoSans-Medium.woff") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: AzoSans;
	font-display: swap;
	src: url("../fonts/AzoSans-Regular.woff2") format("woff2"), url("../fonts/AzoSans-Regular.woff") format("woff2");
	font-weight: 400;
	font-style: normal;
}
