@import "vars";
@import "mixin";

.footer {
    z-index: 1;
    min-height: em(500);
    position: relative;
    &__wrapper {
        max-width: em(1800);
        margin: 0 auto;
        background-color: $colorblue;
        padding: em(500) em(30) em(100) em(30);
        @media (max-width:$breakpoint768) {
            padding: em(350) em(30) em(60) em(30);
            
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width:900px) {
            flex-direction: column;
            gap: em(60);
        }
    }
    &__logo {
        padding-bottom: em(10);
    }
    &__social {
        display: flex;
        @include adaptiv-value(gap,20,1);
    }
    &__social img {
        border: 1px solid rgba($color: #fff, $alpha: 0.2);
        border-radius: 50%;
        padding: em(10);
    }
    &__text {
        color: #fff;
    }
    &__topic {
        padding: 0px 0px em(10) 0px;
        text-align: center;
    }
    &__author {
        display: flex;
        justify-content: flex-end;
        @media (max-width:900px) {
        justify-content: center;
        }
    }
    &__author-img {
        margin: 0px em(10) 0px 0px;
    }
}
