$breakpoint1268: 1268 + px;
$breakpoint992: 991.98 + px;
$breakpoint805: 804.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;
$breakpoint425: 424.98 + px;

$widthContent: 1575 + px;

$colorGreen: #22A75D;
$colorLightBlue: #2278D4;
$colorWhite: #F7F5F9;

$colorblue: #1D1534;
